<h1><%= @cat.name %></h1>
<img style="width: 300px;" src="<%= @cat.image.url %>">
<p>Owned by: <a href="<%= user_url(@cat.owner) %>"><%= @cat.owner.user_name %></a></p>
<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <% [:age, :birth_date, :color, :sex].each do |attr_name| %>
    <tr>
      <td><%= attr_name %></td>
      <td><%= @cat.send(attr_name) %></td>
    </tr>
  <% end %>
</table>

<% if current_user.id == @cat.user_id %>
  <%= link_to "Edit #{@cat.name}", edit_cat_url(@cat) %>
<% end %>

<br>

<form action="<%= cat_rental_requests_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for="cat_rental_request_cat_id">Cat</label>
  <select name="cat_rental_request[cat_id]" id="cat_rental_request_cat_id">
    <option value="<%= @cat.id %>" selected><%= @cat.name %></option>
  </select>
  <br>

  <label for="cat_rental_request_start_date">Start Date</label>
  <input
    type="date"
    name="cat_rental_request[start_date]"
    id="cat_rental_request_start_date">
  <br>

  <label for="cat_rental_request_end_date">End Date</label>
  <input
    type="date"
    name="cat_rental_request[end_date]"
    id="cat_rental_request_end_date">
  <br>

  <input type="submit" value="Request <%= @cat.name %>">
</form>

<h2>Rental Requests</h2>
<a href="<%= new_cat_rental_request_url %>">New Request</a>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Renter</th>
  </tr>
  <% @cat.rental_requests.order("start_date").each do |req| %>
    <%= render "req_tr", req: req %>
  <% end %>
</table>
