<!DOCTYPE html>
<html>
<head>
  <title>99Cats</title>
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>99Cats</h1>
  <ul style="list-style-type: none;">
    <% if current_user %>
      <li><a href="<%= cats_url %>">Cats</a></li>
      <li><a href="<%= user_url(current_user) %>">Profile</a></li>
      <li><a href="<%= new_cat_rental_request_url %>">Request</a></li>
      <li><a href="<%= new_cat_url %>">Add New Cat</a></li>
      <li>
        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Log Out">
        </form>
      </li>
    <% else %>
      <li><a href="<%= new_user_url %>">Sign Up</a></li>
      <li><a href="<%= new_session_url %>">Login</a></li>
    <% end %>
  </ul>


  <!-- <% if current_user %>
  <h1>Hello, <a href="<%= user_url(current_user) %>"><%= current_user.user_name %></a></h1>

  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>
  <% else %>
  <a href="<%= new_session_url %>">Log In</a>
  <% end %> -->


  <%= yield %>



  <footer>
    <br>

    <%= yield :footer %>

    © 2017 99Cats, Inc. &#x1f431;
  </footer>

</body>
</html>
